.FlashCardList {
    background-color: #1d2d44;
    height: 500px;
    width: 500px;
    border-radius: 3px;
}

.flashTitle {
    display: flex;
    justify-content: space-between;
}

.flashTitle, .flashSet{
    padding: 1em;
}

.flashContent {
    display: flex;
}

.numCards {
    display: flex;
}

.allFlashSets {
    display: flex;
}

#flashCardImg {
    width: 1.25em;
    height: 1.25em;
    margin-right: .25em;
    margin-top: .2em;
}

#flashUser {
    margin-right: 2em;
}



