.FlashCardList {
    background-color: #1d2d44;
    height: 500px;
    width: 500px;
    border-radius: 3px;
}

.flashSet {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #a8dadc;
    width: 20%;
    height: 0;
    padding: 1em;
    padding-bottom: 20%;
    color: black;
    border-radius: 5px;
    border: 1px solid red;
}

.flashContent {
    display: flex;
}

.numCards {
    display: flex;
}

.flashSet p {
    text-align: right;
}

#flashCardImg {
    width: 1.25em;
    height: 1.25em;
    margin-right: .25em;
    margin-top: .2em;
}

#flashUser {
    margin-right: 2em;
}

#cardSpace {
    background-color: red;
    height: 4.5em;
}

@media (max-width: 768px) {
    .flashSet {
        width: 50%;
        align-items: end;
    }
}