.FlashCardSet {
    flex: 1 1 200px; /* grow/shrink, base size */
    max-width: 250px; /* caps width per card */
    height: auto; /* let height grow */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #a8dadc;
    padding: 12px 24px;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 1em;
}


.FlashCardSet:hover {
    background-color: #91e4e7;
    transform: scale(1.05);
}

.FlashCardSet p {
    text-align: right;
}

@media (max-width: 768px) {
    .FlashCardSet {
        flex: 1 1 100%;
        max-width: 100%;
    }
}


#cardSpace {
    height: 4.5em;
}

* {
    box-sizing: border-box;
}

.Sets {
    display: flex;
    justify-content: center;
}

.titleContent {
    display: flex;
    justify-content: space-between;
}

#editButton {
    background: none;
    border: none;
    font-size: 1.5em;
    height: 1.75em;
    padding: 0.25em;
    margin-left: 0.25em;
    z-index: 1000;
}