.FlashCardList {
    display: flex;
    flex-direction: column;
    background-color: #1d2d44;
    min-height: 500px;
    width: 100%;
    max-width: 1200px;
    border-radius: 3px;
    margin: 3em auto;
    padding: 1.5em;
  }  


.flashTitle {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.flashTitle,
.flashSet {
    padding: 1em;
}

.flashContent {
    display: flex;
}

.numCards {
    display: flex;
}

.allFlashSets {
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: flex-start;
    gap: 1em;
    width: 100%;
  }

.allFlashSets {
    max-height: 500px;
    overflow-y: auto;
}

#flashCardImg {
    width: 1.25em;
    height: 1.25em;
    margin-right: .25em;
    margin-top: .2em;
}

#flashUser {
    margin-right: 2em;
}

.LogInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogIn {
    background-color: #a8dadc;
    color: #1d2d44;
    border: none;
    padding: 0.8em 5em;
    font-size: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin: 1em;
    font-weight: bold;
}

.LogIn:hover {
    background-color: #3e5c76;
    color: white;
    transform: scale(1.05);
    
}

* {
    box-sizing: border-box;
}