.navbar {
    display: flex;
    background-color: #1d2d44;
    justify-content: space-between;
}

/* .navbarToggler {
    
} */

.container {
    padding: .75em;
}

.navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag {
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.tag:hover {
    background-color: #3b4e72;
    /* Darker blue on hover */
    transform: scale(1.05);
    /* Slight scaling effect */
    text-decoration: none;
    /* No underline on hover */
}

#home {
    font-size: 1.25em;
}

#dropdown {
    margin-left: 1em;
    background-color: none;
    border: none;
    border-radius: 4px;
    /* padding-right:1em;
    padding-left:1em; */
    cursor: pointer;
    transition: background-color 0.3s;
    display: none;
}


#dropdownIcon {
    color: #333;
    font-size: 2em;
}

#dropdown:hover {
    background-color: #ffbb33;
}

@media (max-width: 768px) {
    .hide {
        display: none;
        /* Hide menu on smaller screens */
    }

    .nav-links .show {
        display: flex;
    }

    #dropdown {
        display: flex;
    }
}